.banner_main{
    background-image: url(https://images.ctfassets.net/4cd45et68cgf/7JiW5JIJZaNi0LBJXQCuON/28ee69e49f0ca93e29adc4464e82f358/EN-US_MyNameS1_Teaser_Solo_Horizontal_RGB_PRE.jpg?w=2000);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 20vh;
}

.banner_movie_details{
    color: white;
}